<!DOCTYPE html>
<html>
  <head>
    <title>ShopAgent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<li><%= link_to 'Topページ', home_top_path %></li>
  	<li><%= link_to 'FAQ', faq_top_path %></li>
    <%= yield %>
  </body>
</html>
